.swiper-10 {
  width: 10%;
}
.swiper-20 {
  width: 20%;
}
.swiper-30 {
  width: 30%;
}
.swiper-40 {
  width: 40%;
}
.swiper-50 {
  width: 50%;
}
.swiper-60 {
  width: 60%;
}
.swiper-70 {
  width: 70%;
}
.swiper-80 {
  width: 80%;
}
.swiper-90 {
  width: 90%;
}
.swiper-100 {
  width: 100%;
}

@media(min-width: 768px) and (max-width: 1200px) {
  .swiper-md-10 {
    width: 10%;
  }
  .swiper-md-20 {
    width: 20%;
  }
  .swiper-md-30 {
    width: 30%;
  }
  .swiper-md-40 {
    width: 40%;
  }
  .swiper-md-50 {
    width: 50%;
  }
  .swiper-md-60 {
    width: 60%;
  }
  .swiper-md-70 {
    width: 70%;
  }
  .swiper-md-80 {
    width: 80%;
  }
  .swiper-md-90 {
    width: 90%;
  }
  .swiper-md-100 {
    width: 100%;
  }
}

@media(min-width: 1201px) {
  .swiper-lg-10 {
    width: 10%;
  }
  .swiper-lg-20 {
    width: 20%;
  }
  .swiper-lg-30 {
    width: 30%;
  }
  .swiper-lg-40 {
    width: 39%;
  }
  .swiper-lg-50 {
    width: 50%;
  }
  .swiper-lg-60 {
    width: 60%;
  }
  .swiper-lg-70 {
    width: 70%;
  }
  .swiper-lg-80 {
    width: 80%;
  }
  .swiper-lg-90 {
    width: 90%;
  }
  .swiper-lg-100 {
    width: 100%;
  }
}
